
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} 

.wardrobe-wrapper {
    background-color: #D6BCFA; 
    padding: 16px;
    min-height: 100vh; 
}

.my-clothing-container h1{
    margin-left: 3rem;
}

.my-clothing-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
}

.button-group{
    margin-right: 3rem;
}

@media (max-width: 768px) {
  .my-clothing-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .my-clothing-container h1 {
    margin-bottom: 5px;
    margin-left: 0; 
  }
  .button-group{
    margin-right: 0;
  }
  .my-clothing-container .button-group {
    display: flex;
    justify-content: center;
    width: 100%; 
    gap: 1rem; 
    margin-top: 1rem; 
  }
}
